<!-- Filename: add-task-form.ejs
partial for form that adds a task -->

<section class="formSection">
  <form id="add-task-form" method="POST" action="/tasks">
    <div class="text-input-section">
      <div class="name-input">
        <label for="task-title">Task Title*</label>
        <input
          type="text"
          id="task-title"
          name="taskTitle"
          minlength="3"
          maxlength="100"
          placeholder="What to do..."
          value="<%= error?.title %>"
          class="<%= error?.appErrorCode.includes('TITLE') ? 'invalid' : '' %>"
          required
        />
      </div>
      <div class="desc-input">
        <label for="task-description">Description</label>
        <textarea
          id="task-description"
          name="taskDescription"
          maxlength="500"
          class="<%= error?.appErrorCode.includes('DESC') ? 'invalid' : '' %>"
        >
<%= error?.description %></textarea
        >
      </div>
      <div class="prio-input">
        <label>Priority:</label>
        <div>
          <label>
            <input type="radio" name="taskPriority" value="low" <%=
            error?.priority === 'low' || !error ? 'checked' : '' %> /> Low
          </label>
          <label>
            <input type="radio" name="taskPriority" value="medium" <%=
            error?.priority === 'medium' ? 'checked' : '' %> /> Medium
          </label>
          <label>
            <input type="radio" name="taskPriority" value="high" <%=
            error?.priority === 'high' ? 'checked' : '' %> /> High
          </label>
        </div>
      </div>
    </div>
    <button type="submit">Add Task</button>
  </form>
</section>
