<!-- Filename: tasks-list.ejs
partial that renders the list of tasks -->

<section class="tasksSection">
  <ul>
    <% if (tasks.length === 0) { %> No tasks or matching tasks. <% } else { %>
    <% tasks.forEach(task => { %>
    <li <% if (task.completed) { %>
      class="completed"<% } %>>
      <h3><%= task.title %></h3>
      <p>
        Priority:
        <span
          class="priority <%= task.priority === 'high' ? 'high-priority' : task.priority === 'medium' ? 'medium-priority' : 'low-priority' %>"
          ><%= task.priority %></span
        >
      </p>
      <p><%= task.description %></p>
      <div class="taskOperations">
        <form method="POST" action="/tasks/<%= task.id %>?_method=PATCH">
          <button type="submit">
            <% if (!task.completed) { %> Complete <% } else { %> Undo Complete
            <% } %>
          </button>
        </form>
        <form method="POST" action="/tasks/<%= task.id %>?_method=DELETE">
          <button type="submit">Delete</button>
        </form>
      </div>
    </li>
    <% }) %> <% } %>
  </ul>
</section>
