<!-- Filename: error.ejs
customizable error page -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles.css" rel="stylesheet" />
    <title><%= title %> | <%= description %></title>
  </head>
  <body>
    <div class="app">
      <%- include('partials/header') %>
      <main>
        <div class="message">
          <h2><%= title %></h2>
          <p><%= description %></p>
        </div>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
