<!-- Filename: error.ejs
customizable error page -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/common-meta') %>
    <title><%= category %> Error <%= code %></title>
  </head>
  <body>
    <div class="app">
      <%- include('partials/header') %>
      <main>
        <div class="message">
          <h2><%= category %> Error</h2>
          <p><span class="error">Error Code</span>: <%= code %></p>
          <p><span class="error">Message</span>: <%= message %></p>
        </div>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
