<!-- Filename: error.ejs
customizable error page -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/common-meta') %>
    <title><%= title %> | <%= description %></title>
  </head>
  <body>
    <div class="app">
      <%- include('partials/header') %>
      <main>
        <div class="message">
          <h2><%= title %></h2>
          <p><%= description %></p>
        </div>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
