<!-- Filename: index.ejs
main page for web application -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/common-meta') %>
    <link href="/styles/form.css" rel="stylesheet" />
    <link href="/styles/task.css" rel="stylesheet" />
    <link href="/styles/filter-form.css" rel="stylesheet" />
    <title>Simple Task Management</title>
  </head>
  <body>
    <div class="app">
      <%- include('partials/header') %>
      <main>
        <h2>Filters</h2>
        <%- include ('partials/filter-form') %>
        <h2>Add Task</h2>
        <%- include('partials/add-task-form') %>
        <h2>Tasks List</h2>
        <%- include('partials/tasks-list') %>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
