<!-- Filename: index.ejs
main page for web application -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles.css" rel="stylesheet" />
    <title>Simple Task Management</title>
  </head>
  <body>
    <div class="app">
      <%- include('partials/header') %>
      <main>
        <%- include('partials/add-task-form') %> <%- include
        ('partials/filter-form') %>
        <hr />
        <%- include('partials/tasks-list') %>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
